@charset "UTF-8";
@import 'base';

@media screen and (max-width: 600px) {
  // 追従ボタン

  .follow-btn {
    display: none;
  }

  // トップページ

  .top-section {
    flex-direction: column-reverse;
  }
  .top-wrapper {
    padding-top: 3.5rem;
    padding-left: 0;
    width: 37.5rem;
    align-items: center;
    h2 {
      font-size: 2.1rem;
      margin-bottom: 2.1rem;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 3.9rem;
      margin-bottom: 1.8rem;
      text-align: center;
    }
    &__btn {
      width: 34.5rem;
      height: 5.3rem;
      font-size: 1.9rem;
      border-radius: 1.4rem;
      margin-bottom: 1.7rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }

  // イントロページ

  .intro-section {
    padding-top: 6.9rem;
    h2 {
      font-size: 2.1rem;
    }
    p {
      font-size: 1.4rem;
      margin: 1.8rem 0 1.7rem 0;
      &:first-of-type {
        margin-top: 3.2rem;
      }
    }
    hr {
      width: 34.5rem;
    }
    h1 {
      height: 9rem;
      font-size: 1.7rem;
      margin-top: 5.6rem;
      line-height: 3.1rem;
    }
  }

  // サービスページ

  .service-section {
    max-width: 37.5rem;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
    align-items: flex-start;
    h1 {
      font-size: 0;
      text-align: left;    
      margin-left: 1rem;
      &:first-of-type {
        margin-bottom: 0.5rem;
        padding-bottom: 0.3rem;
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
      }
      &:last-of-type {
        padding-bottom: 0.3rem;
        background: linear-gradient(transparent 70%, rgba(252, 143, 0, 0.35) 0);
      }
      &:first-of-type:before {
        content: "ABCプログラミングスクールでは";
        font-size: 2.1rem;
      }
      &:last-of-type:before {
        content: "あなたの学習を徹底サポート";
        font-size: 2.1rem;
      }
    }
  }
  .service-wrapper {
    width: 100%;
    flex-direction: column;
    margin-top: 5.8rem;
    &:nth-of-type(2) {
      flex-direction: column;
    }
    &__text {
      width: 34.5rem;
      margin-top: 4.2rem;
      h2 {
        font-size: 2.1rem;
      }
      p {
        font-size: 0;
        line-height: 2.8rem;
        margin-top: 1.8rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }
  .form-induction {
    height: 19.1rem;
    p {
      font-size: 1rem;
      margin: 3.1rem 0 2rem 0;
    }
    h2 {
      font-size: 1.4rem;
      margin-bottom: 1.8rem;
    }
    a {
      width: 34.6rem;
      height: 7rem;
      font-size: 2.1rem;
      border-radius: 1.4rem;
    }
  }

  // メリットページ

  .merit-section {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 6.3rem 1.5rem 5.6rem 1.5rem;
    align-items: flex-start;
    &__sp {
      display: block;
      font-size: 2.1rem;
      font-weight: normal;
      background: linear-gradient(transparent 60%, rgba(252, 143, 0, 0.35) 0);
      margin-left: 2.2rem;
      padding-bottom: 0.3rem;
      &:nth-of-type(2) {
        margin-bottom: 1.5rem;
      }
    }
    &__pc {
      display: none;
    }
  }
  .merit-wrapper {
    display: block;
    margin-top: 6.3rem;
    width: 34.5rem;
    &__text {
      width: 34.5rem;
      h2 {
        font-size: 2.1rem;
        margin: 0;
      }
      p {
        font-size: 0;
        line-height: 2.8rem;
        width: 34.5rem;
        margin-top: 1.8rem;
        margin-bottom: 3.5rem;
        &:before {
          content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト";
          font-size: 1.4rem;
        }
      }
    }
  }

  // プランページ

  .plan-section {
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
    h1 {
      font-size: 2.8rem;
      width: 34.5rem;
      &:before {
        margin-right: 3.4rem;
      }
      &:after {
        margin-left: 3.4rem;
      }
    }
  }
  .plan-wrapper {
    flex-direction: column;
    width: 34.5rem;
    margin-top: 0;
  }
  .plan-inner {
    width: 100%;
    height: 45rem;
    padding: 3.3rem 0 2.9rem 0;
    margin-top: 3.6rem;
    box-sizing: border-box;
    &:first-of-type {
      margin-top: 6.8rem;
    }
    h2 {
      font-size: 1.7rem;
      width: 16rem;
      margin-top: 0;
      padding-bottom: 0.5rem;
    }
    p {
      font-size: 0;
      line-height: 2.4rem;
      width: 28.1rem;
      margin-top: 1.4rem;
      margin-bottom: 3.2rem;
      &:before {
        content: "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテ";
        font-size: 1.4rem;
      }
    }
    &__list {
      width: 28.1rem;
      margin-top: 0;
      &--item {
        font-size: 1.4rem;
      }
      hr {
        width: 28rem;
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }
  }
  .sp-form-induction {
    display: none;
  }

  // レビューページ

  .review-section {
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
    h1 {
      font-size: 2.8rem;
      width: 34.5rem;
      margin-bottom: 4.5rem;
      &:before {
        margin-right: 3.4rem;
      }
      &:after {
        margin-left: 3.4rem;
      }
    }
  }
  .review-heading {
    width: 33.2rem;
    margin-top: 0;
    margin-bottom: 3.6rem;
    p {
      font-size: 1.3rem;
    }
  }
  .review-wrapper {
    display: block;
    width: 32.1rem;
    margin: 0;
  }
  .review-unit {
    flex-direction: column;
    justify-content: flex-start;
    width: 32.1rem;
    height: 30rem;
    padding: 2.7rem 2.9rem 3rem 3rem;
    box-sizing: border-box;
    &:nth-of-type(2) {
      margin: 0;
    }
    &:nth-of-type(3) {
      margin: 0;
    }
    &:nth-of-type(4) {
      margin: 0;
    }
    &__avatar {
      display: flex;
      align-items: flex-end;
      p {
        font-size: 2rem;
        margin-left: 2rem;
      }
    }
    &__text {
      display: none;
      &--sp {
        display: block;
        margin: 0;
        font-size: 1.1rem;
        line-height: 2.2rem;
        margin-top: 1.4rem;
      }
    }
  }

  // レビューぺージ　スライドショー

  .slick-prev {
    transform: rotate(180deg);
    transform-origin: center 25%;
    left: -1rem;
    z-index: 1;
    width: 2.4rem;
    height: 2.4rem;
  }
  .slick-next {
    right: -1rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .slick-prev::before {
    background-color: rgba(119, 191, 255);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    content: "⇀";
    font-size: 2.4rem;
    opacity: 1;
  }
  .slick-next::before {
    background-color: rgba(119, 191, 255);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    content: "⇀";
    font-size: 2.4rem;
    opacity: 1;
  }
  .slick-dots li button::before {
    font-size: 4.8rem;
    color: rgba(188, 188, 188);
    opacity: 1;
  }

  // クエスチョンページ

  .question-section {
    padding: 6.4rem 1.5rem 5.6rem 1.5rem;
    h1 {
      width: 34.5rem;
      font-size: 2.8rem;
      margin-bottom: 6.7rem;
      font-weight: normal;
      &:before {
        margin-right: 3.4rem;
      }
      &:after {
        margin-left: 3.4rem;
      }
    }
  }
  .question-wrapper {
    width: 34.5rem;
    height: 8rem;
    margin-top: 2.8rem;
    padding: 1.9rem 2rem 2.4rem 1.5rem;
    &:first-of-type {
      margin-top: 0;
    }
    &__text {
      h2 {
        font-size: 2.3rem;
        margin-right: 0.8rem;
        height: 4.5rem;
      }
      &--pc {
        display: none;
      }
      &--sp {
        display: block;
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin: 0;
      }
    }
    &__icon {
      width: 2rem;
      height: 2rem;
    }
  }
  .accordion {
    width: 34.5rem;
    height: 8rem;
    padding-left: 5rem;
    &-pc {
      display: none;
    }
    &-sp {
      display: block;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  // リクエストページ

  .request-section {
    padding: 0;
    padding-top: 6.4rem;
    &__pc {
      display: none;
    }
    &__sp {
      display: block;
      font-size: 2.8rem;
      font-weight: normal;
    }
  }
  .request-wrapper {
    margin-top: 6.7rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__text {
      max-width: 37.5rem;
      margin: 0 1.6rem 0 1.6rem;
      h2 {
        font-size: 1.7rem;
        width: 34.5rem;
        padding-bottom: 0.4rem;
        text-align: center;
        margin-top: 0;
      }
      h3 {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 2.8rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.7rem;
        margin: 1.6rem 0 2.8rem 0;
      }
    }
    &__form {
      width: 100%;
      height: 71rem;
      padding: 3.1rem 1.5rem 2.8rem 1.5rem;
      margin-top: 0;
      table {
        border-spacing: 0;
      }
      tr:first-of-type th {
        margin-top: 0;
      }
      tr:last-of-type th {
        padding-top: 0;
      }
      tr:last-of-type td {
        height: 11.2rem;
      }
      th {
        font-size: 1.2rem;
        display: block;
        text-align: left;
        width: 100%;
        margin: 2.4rem 0 0.6rem 0;
      }
      td {
        font-size: 1.2rem;
        display: block;
        text-align: left;
        width: 100%;
      }
      .td-space {
        margin-bottom: 0.6rem;
      }
      .input {
        width: 34.5rem;
        height: 4.4rem;
        font-size: 1.2rem;
        padding-left: 1.6rem;
      }
      .long-input {
        width: 34.5rem;
        height: 4.4rem;
        font-size: 1.2rem;
        padding-left: 1.6rem;
      }
      .textarea {
        height: 11.2rem;
      }
      &--btn {
        width: 34.5rem;
        height: 7rem;
        border-radius: 1.4rem;
        font-size: 2.6rem;
        margin-top: 2.8rem;
        margin-bottom: 0;
      }
    }
  }
}
